.create body {
    overflow: hidden;
}

.create main {
    overflow-y: scroll;
    height: calc(100vh - 60px);
    width: 100vw;
    padding-top: 15px;
}

.create .container {
    grid-column: span 12;
    text-align: center;
    max-width: 450px;
    justify-self: center;
}

.create input, textarea {
    outline: none;
    width: 90%;
    border: 2px solid #222222;
    border-radius: 5%;
    font-size: 0.9em;
    padding: 5px;
    margin-bottom: 15px;
}

.create textarea {
    height: 175px;
    border-radius: 2%;
}

.create .btn {
    width: fit-content;
    border: none;
    margin-top: 25px;
}

.create p {
    font-size: 12px;
}

/* Media Queries */

@media screen and (min-width: 500px){
    .create main {
        height: calc(100vh - 65px);
    }
}