.home body {
    overflow: hidden;
}

.home main {
    overflow-y: scroll;
    height: calc(100vh - 60px);
    width: 100vw;
}

.home .card {
    height: fit-content;
    grid-column: span 6;
    margin: 10px;
    text-align: center;
}

.home h1 {
    font-size: 15px;
}

.home p {
    font-size: 10px;
    text-align: left;
}

.home main {
    grid-template-rows: max-content;
}

/* Media Queries */

@media screen and (min-width: 500px){
    .home main {
        height: calc(100vh - 65px);
    }
}